$primary-color: #3498db;
$secondary-color: #2c3e50;
$background-color: #ecf0f1;
$border-radius: 5px;

.login-container {
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  height: 100vh; // Ocupa toda la altura de la ventana  
  background-color: #f5f5f5; // Color de fondo (opcional)  
  
  h1 {  
    margin-bottom: 20px; // Espacio inferior  
  }  

  form {  
    display: flex;  
    flex-direction: column; // Coloca los elementos uno debajo del otro  
    width: 300px; // Ancho fijo o deseado  

    label {  
      margin-bottom: 5px; // Espacio entre la etiqueta y el input  
    }  

    input {  
      margin-bottom: 15px; // Espacio entre los inputs  
      padding: 10px;  
      border: 1px solid #ccc;  
      border-radius: 4px;  
      font-size: 16px; // Tamaño de fuente  
      width: 100%; // Ancho completo  
    }  

    button {  
      padding: 10px;  
      background-color: #007bff; // Color del botón  
      color: white;  
      border: none;  
      border-radius: 4px;  
      font-size: 16px;  
      cursor: pointer;  

      &:hover {  
        background-color: #0056b3; // Color al pasar el mouse  
      }
    }
  }

  #error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
}