.main-layout {
  display: flex;
  height: 100vh; /* Altura completa de la ventana */
}

.sidebar {

  transition: width 0.5s ease, margin-left 0.5s ease; /* Animaciones suaves */
}

.sidebar.hidden {
  width: 0; /* Ocultar el ancho del sidebar */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

.content {
  flex: 1; /* Toma el resto del espacio disponible */
  transition: margin-left 0.3s ease; /* Animación suave */
}

.content.expanded {
  margin-left: 0; /* Sin margen cuando el sidebar está oculto */
}