<div *ngIf="isLoggedIn; else loginTemplate">  
  <app-header></app-header>  
  <div class="main-layout">  
    <app-sidebar   
      class="sidebar"   
      [ngClass]="{'hidden': isSidebarHidden}"   
      (sidebarToggle)="onSidebarToggle()">  
    </app-sidebar>  
    
    <div class="content" [ngClass]="{'expanded': !isSidebarHidden, 'collapsed': isSidebarHidden}">  
      <router-outlet></router-outlet>  
    </div>  
  </div>  
  <app-footer></app-footer>  
</div>  

<ng-template #loginTemplate>  
  <app-login (loginSuccess)="updateLoginStatus()"></app-login>  
</ng-template>  