.main-layout {
  display: flex;
  height: 100vh; /* Altura completa de la ventana */
}

.sidebar { 
  transition: width 0.3s; /* Transición suave */  
}

.sidebar.hidden {
  width: 0; /* Oculta el sidebar */  
  overflow: hidden; /* Evita que se muestre contenido oculto */ 
}

.content {
  flex: 1; /* Toma el resto del espacio disponible */
  transition: margin-left 0.3s ease; /* Animación suave */
}


.content {  
  margin-left: 0; /* Sin margen si el sidebar está oculto */  
}