/* Sidebar Styles */
.sidebar {
  
  background-color: #2c3e50;
  color: white;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  padding: 60px;
}
.sidebar img {
  height: 20%;
  text-align: center;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar h5,
.sidebar h6 {
  margin: 0;
  padding: 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 2px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
}

/* Toggle Button */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

/* Content Styles */
.content {
  margin-left: 200px;
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 0;
}



