.main-layout {
    display: flex;
  
    .content {
      padding: 2rem;
      width: calc(100% - 200px); /* Ajustar ancho del contenido */
      background-color: #041a31; /* Fondo claro */
      min-height: 100vh;
      color:aliceblue
    }
  }